{% extends "layout.html" %}
{% block content %}

<div class="jumbotron ">
    <h2 style="text-align: center;"><u>About Us: </u></h2>
    <p class="lead">
    <h5>Blogging space is made with a motive to provide an easy medium to share your valuable thoughts with others.
        here you can create your account and share your blogs on a regular basis.
    </h5><br>
    <br>
    <h3><u>About me:</u> </h3>
    <h4><u>Name:</u><a
            href="https://www.linkedin.com/in/sumit-gupta-46b3b817b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BZ6UTboDbTuCwZxidszBHag%3D%3D"
            target="_blank"> &nbsp;Sumit Kumar Gupta</a></h4><br>

    <h4><u>College:</u> <a href="https://www.ietlucknow.ac.in/" target="_blank">Institute Of Engineering and
            Technology</a>
    </h4><br>

    <h4><u>Course:</u>&nbsp; Bachelors of Technology</h4><br>
    <h4><u>Branch:</u>&nbsp;Information Technology</h4><br>
    <h4><u>E-mail:</u>&nbsp;sumitgupta7132@gmail.com</h4><br>
    </p>


</div>

{% endblock content %}